<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xeed.library.common">

    <application>
        <receiver
            android:name="xeed.library.ui.PermissionBootHandler"
            android:enabled="true"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
